.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0px 0px 15px 30px;
}

.movieRow-listarea {
  overflow-x: hidden;
  padding-left: 30px;
}

.movieRow-list {
  display: flex;
}

.movieRow-left,
.movieRow-right {
  position: absolute;
  width: 40px;
  height: 285px;
  background-color: rgba(0, 0, 0);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
}

.movieRow-left {
  left: 0;
}

.movieRow-right {
  right: 0;
}

.movieRow:hover .movieRow-left,
.movieRow:hover .movieRow-right {
  opacity: 0.4;
}

.movieRow-left:hover,
.movieRow-right:hover {
  opacity: 0.8 !important;
}

@media (max-width: 760px) {
  .movieRow-left,
  .movieRow-right {
    opacity: 1;
  }
}
