.movie-item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  cursor: pointer;
  transition: transform 0.7s;
  width: 200px;
  height: 285px;
  margin: 0 3px;
}

.movieRow-list:focus-within .movie-item,
.movieRow-list:hover .movie-item {
  transform: translateX(-25%);
}

.movie-item:focus ~ .movie-item,
.movie-item:hover ~ .movie-item {
  transform: translateX(25%);
}

.movieRow-list .movie-item:focus,
.movieRow-list .movie-item:hover {
  transform: scale(1.5);
  z-index: 1;
}

.movie-item img {
  display: block;
  max-width: 200px;
  max-height: 285px;
}

.movie-item img:hover {
  transform: scale(1);
}

.hovered-movie {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 0 10px 0 10px;
  background: linear-gradient(to top, #000 10%, transparent 90%);
}

.hovered-movie-main {
  display: flex;
  justify-content: space-between;
}

.hovered-movie-title {
  font-size: 16px;
  font-weight: bold;
}

.hovered-movie-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

.hovered-movie-play,
.hovered-movie-add {
  font-size: 40px !important;
  transform: scale(0.8);
  transition: all ease 0.2s !important;
}

.hovered-movie-play:hover,
.hovered-movie-add:hover {
  transform: scale(1);
}

.hovered-movie-expand {
  width: 100% !important;
  text-align: center !important;
}

.hovered-movie-expand:hover {
  color: #e50914;
}
